@media all and (max-width: 1550px){
    .about_whyus_text img {
        width: 200px;
    }
    .aboutWhyUsSingle p { 
        font-size: 16px;
        line-height: 24px;
    }
}
@media all and (max-width: 1400px){
    .accom_img img {
        width: 100%;
        height: 462px;
    }
    .experi_single_text p {
        font-size: 16px;
    }
} 
 
@media all and (max-width: 1199px){
    .art_loop_img img {
        width: 100%;
        transform: translateY(0);
    }
    .aboutInquiryRightText p { 
        padding-top: 0; 
    }
    .menu ul li a {
        font-size: 16px; 
    }
    .hum_menu__box ul li a {
        font-size: 14px; 
    }
}

@media all and (max-width: 991px){
	.hide_menu {
        display: none;
    }
    .travel_slider_owl .owl-prev { 
        left: 70px; 
    }
    .travel_slider_owl .owl-next { 
        left: 140px; 
    }
     
    .service_product_for_desktop{
        display: none;
    }
    
    .single_package_service .ex_img img { 
        height: 325px; 
        object-fit: cover;
    }
    .service_product_for_mobile{
        display: block;
    }
    .terms_content { 
        margin-left: 0;
    }
    .logo a img {
        width: 130px;
    }
    .accom_text p {
        font-size: 16px;
        line-height: 21px;
        text-align: left;
    }
    .about_founder_text_box { 
        flex-direction: column;
    }
    .sk_about_banner {
        width: 100%; 
    }
    .aboutContainer {
        max-width: 100%; 
    }
    .about_founder_text_box_img { 
        justify-content: center;
    }
    .about_inquiry_text { 
        flex-direction: column;
    }
    
    .art_banner_text h3 { 
        line-height: 56px;
    }
}

@media all and (max-width: 767px){
	.banner h2 {
        font-size: 30px; 
        line-height: 42px; 
    }
    .why_area_boxxx {
        margin-left: 0;
    } 
    .art_loop_img img { 
        margin-top: 0;
    }
    .why_box_carousel .owl-next ,
    .why_box_carousel .owl-prev ,
    .travel_slider_owl .owl-next ,
    .travel_slider_owl .owl-prev {
        position: inherit;
        width: 30px;
        height: 30px;
    }
    .why_box_carousel .owl-nav ,
    .travel_slider_owl .owl-nav {
        display: flex;
        justify-content: center;
    }

    .why_box_carousel .owl-prev i ,
    .why_box_carousel .owl-next i ,
    .travel_slider_owl .owl-prev i ,
    .travel_slider_owl .owl-next i {
        font-size: 15px; 
    }

    .art_img_size_1 ,
    .art_img_size_2  ,
    .art_img_size_3 { 
        height: auto !important;
    }
    .ex_art_text p { 
        margin-top: 30px;
    }
    .ready_services_boxx .ready_text { 
        margin-left: 0;
    }
    .about_whyus_text_box_wrapper {
        margin-left: 36px;
    }
    .why_area_boxxx {
        margin-left: 35px;
    }
    .ex_banner_item { 
        height: 372px; 
    }
    .footer_social ul li a {
        font-size: 20px; 
    } 
    .aboutInquiryRightText {
        margin-top: 25px;
    } 
    .how_section_title h3 {
        letter-spacing: 3px; 
    }
    .about_whyus_text_box { 
        gap: 5px;
    }
    .s_about_right {
        transform: translateY(0);
    }
    .sk_about_img img { 
        max-width: 100%;
        height: auto;
    }
    .trip_content p {
        text-align: left;
        font-size: 14px;
        line-height: 19px;
    }
    .single_travel_info { 
        max-width: 100%;
        margin-bottom: 25px;
    }
    .single_package_service { 
        margin-bottom: 25px;
    }
    .contact_form_header {
        margin-bottom: 15px;
    }
    .contact_left_content {
        margin-top: 60px;
    }
    .select2-container { 
        width: 100% !important;
    }
    .art_look {
        padding: 80px 0;
    }
    .aboutInquiryRightText p { 
        padding-top: 25px; 
    }
    .about_whyus_text_box { 
        flex-direction: column;
    }
    /* .art_img_up img { 
        transform: translateY(0);
    }
    .gal_art_text{
        margin-bottom: 25px;
    }
    .art_img_up_2 img { 
        transform: translateY(0);
    } */

    .art_img_text { 
        margin: 40px auto;
    }
    .aboutWhyUsSingle {
        flex: 0 0 100%; 
    }
    .swiper-container {
        height: auto;
    }
    .single_child{
        height: auto !important;
    }
    .banner_carousel_item {
        height: 600px;
        position: relative;
    }
    .sk_about_img { 
        max-width: inherit; 
        height: auto; 
        margin-top: 25px;
    }
    .hum_menu__box ul li a {
        font-size: 14px; 
    }
    .hum_mneu_logo a img {
        width: 155px;
        margin-bottom: 25px;
    }
    .travel_box p { 
        text-align: center;
    }
    .single_travel_info h3 { 
        font-size: 16px;
    }
    .single_travel_info p { 
        font-size: 14px;
    }
    .footer_logo img {
        width: 160px;
    }
    .accomdations {
        position: inherit; 
        margin-bottom: 30px;
    }
    .accom_img img {
        width: 95%;
        height: auto;
        margin: 0 auto;
    }
    .accom_img {
        text-align: center;
    }
    h3 {
        font-size: 18px;
        line-height: 27px;
    }
    .extra_header {
        background: transparent;
    }
    
    .mobile_icon{
        display: block;
    }
    .mobile_icon i {
        font-size: 38px;
    }
    .banner h2 {
        font-size: 15px;
        line-height: 22px;
        width: 274px;
        margin: 0 0 0 auto;
        text-align: justify;
    }
    .banner_text { 
        bottom: 90px; 
    }    
    .contact_box > .row {
        flex-direction: column-reverse;
    } 
    .art_travel { 
        right: inherit; 
        left: 31px;
    } 
    .art_img_text h3 {
        font-size: 12px;
        line-height: 28px;
    }
    .art_img_text { 
        width: 100%;
    }
    .gal_art_text {
        margin-bottom: 25px;
    }
    .aboutInquiryRightText p {
        font-size: 14px; 
        line-height: 22px; 
    }
    .aboutInquiryRightText h3 {
        font-size: 18px; 
        line-height: 27px;
    } 
}

@media all and (max-width: 575px){
    p {
        font-size: 13px;
        line-height: 1.5;
    }
    .terms_condition_area {
        padding-top: 195px !important;
    }
    .footer_subs_input input { 
        max-width: 80%; 
    }
    .container {
        padding: 0 25px;
    }
    .travel_box a {
        max-width: 117px;
        height: 37px;
        font-size: 13px; 
    }
    h3 {
        font-size: 15px; 
    }
    .banner h2 {
        font-size: 13px;
        line-height: 20px;
        width: 189px; 
        text-align: left;
    }
    .aboutInquiryRightText { 
        max-width: 100%;
    }
    .ready_text { 
        max-width: 100%;
    }
    .hum_menu__box ul li a {
        font-size: 14px;
    }
    .about_founder_text_box_text p {
        padding-top: 25px;
        text-align: left;
    }
    .banner_text {
        bottom: 36px;
    }
    .about_founder_text_box { 
        gap: 22px; 
    }
    .about_founder_text_box_text p {
        padding-top: 10px; 
    }
    .about_founder_text_box_text h3 { 
        padding-bottom: 9px;
    }
    .banner_carousel_item {
        height: 405px; 
    }
    .about_founder { 
        padding: 8px 0;
    }
    .about_text p {
        text-align: left;
    }
    .travel_box p {
        text-align: justify;
    } 
    .about_text h4 {
        font-size: 17px;
    }
    .about_text p {
        margin-top: 10px;  
        font-size: 13px;
    }
    .accom_img_more {
        width: 95%;
        gap: 10px;
    }
    .art_banner_text h3 {
        font-size: 17px;
    }
    .art_imgae_area {
        position: relative;
    }
    .art_img_up{
        height: auto;
    }
    .fixed_bg {
        height: 415px; 
    }
    .fixed_content p { 
        max-width: 183px; 
        font-size: 13px;
        line-height: 1.2;
    }
    .art_card_img { 
        padding: 44px 40px; 
    }
    .single_card_art p {
        font-size: 13px;
        line-height: 1.5; 
    }
    .art_card_img img { 
        height: 135px;
    }
    .art_first_img.art_second_img { 
        height: auto;
    }
    .art_img_padding {
        padding: 120px 0 180px 0 !important;
    }
    .fixed_content { 
        height: 415px; 
    }
    .art_img_text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
    }
    .accom_img_more img {
        flex: 0 0 47%;
    }
    .art_first_img img { 
        height: 190px;
        object-fit: cover;
    }
    .art_banner_text { 
        height: 450px;
    }
    .art_banner_area { 
        height: 450px;
    }
    .ready_text p,
    .ready_text h4 {
        margin-bottom: 15px;
    }
    .ready_text h4 {
        font-size: 13px;
        line-height: 1.7;
    }
    .ready_img img {
        width: 100%;
        height: 185px; 
    }
    .ex_banner_item h4 { 
        top: 20px; 
        left: 20px; 
    }
    .accom_img_more img {
        width: 100%;
        height: 95px;
    }
    .accom_img {
        margin: 0 0 0 auto;
        height: auto !important; 
    }
    .accom_img img { 
        height: 190px; 
        object-fit: cover;
    }
    .ex_banner_carousel .owl-dots { 
        bottom: -3px; 
    }
    .ex_banner_item h4,
    .ex_banner_item2 h4 {
        font-size: 18px; 
    }
    .btn_1 { 
        font-size: 16px; 
    }
    .section_title h2 {
        font-size: 20px;
        line-height: 39px;
    }
    .footer_social ul { 
        flex-wrap: wrap;
    }
    .footer_social ul li:first-child {
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
    }
    .footer_subs_input input { 
        font-size: 13px;
    }
    .section_padding {
        padding: 50px 0;
    }
    .margin_top_banner {
        padding-top: 200px !important;
    }
    .accom_text {
        width: 100%;
    }
    .item_of_accomdation {
        margin-bottom: 20px;
    }
    .accom_text h3 {
        margin-bottom: 30px; 
    }
    .accom_text h3::after { 
        bottom: -14px; 
    }
    .travel_box.ready_text h3 {
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
    }
    .travel_box.helped.ready_text {
        text-align: center;
    }
    .ex_img img { 
        height: 175px;
        object-fit: cover;
    }
    .experi_single_text p {
        font-size: 13px;
        text-align: center;
    }
    .footer_logo img {
        width: 202px;
    }
    .footer_logo span { 
        font-size: 12px; 
    }
    .footer_logo p {
        font-size: 11px; 
        margin-top: 5px; 
    }
    .footer_subscribe h5 {
        font-size: 13px; 
    }
    .footer_subs_input { 
        flex-direction: column;
        align-items: center;
    }
    .footer_subs_input input {
        font-size: 13px;
        max-width: 100%;
        height: 40px;
    }
    .ex_banner_item {
        height: 190px;
    }
    .service_content h3 {
        font-size: 17px; 
    }
    .service_content p { 
        font-size: 13px;
    }
    .services_area ,
    .service_content { 
        height: 405px; 
    }
    .service_content p { 
        bottom: 30px; 
    }
    .single_travel_info h3 {
        margin-bottom: 10px; 
    }
    .ab_banner { 
        height: 405px; 
    }
    .sk_about_img img { 
        height: 226px;
        object-fit: cover;
    }
    .about_banner { 
        height: 405px; 
    }
    .ab_banner h1 { 
        font-size: 17px;  
    }
    .trip_content_ul li {
        margin-bottom: 10px;
    }
    .trip_content h4 { 
        margin-bottom: 10px;
    }
    .single_trip { 
        margin-bottom: 25px; 
    }
    .single_package_service .experi_single_text > p { 
        text-align: justify;
    }

}

@media all and (max-width: 450px){
    .container {
        padding: 0 20px;
    }
    .experience_area .section_title h2 {
        font-size: 16px; 
    }
    .experience_box {
        padding: 0 15px;
    }
    .travel_box h3 { 
        width: 200px;
        margin: 0 auto 22px auto;
    }
    .home_help .helped p {
        text-align: justify !important;
    }
    .footer_logo p { 
        margin-top: -1px;
    }
    .footer_social {
        margin-top: 42px;
    }
    .footer_social ul li a img {
        width: 27px;
    }
    .footer_subs_input input { 
        max-width: 80%; 
    }
    .footer_subscribe h5 { 
        margin-bottom: 8px;
    }
    .footer_social ul { 
        margin-bottom: 40px; 
    }
    .footer_subscribe { 
        margin: 40px 0;
    }
}